@media only screen and (min-width: 768px) {
    [class*="col-"] {				
    float: left;			
    padding: 10px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }
    
  
    .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background: #000000; 

    }
    .menu li:hover {
    background-color: green;
    }
    li a {
        width: 200px;
        height: 18px;
        color: white;
        text-decoration: none;

    }
    p {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: large;
    }

    h1{ 
        font-size: xx-large;
    }
    
    section{
        background: rgb(206, 195, 166); 
        padding: 10px;
    
    }

    ul{
        color: rgb(0, 0, 0);
    
         }
.whatsapp {
        float: inline-end;
    
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .tile {
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 0px solid #4B1248;
  }
  
  .contact-form {
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form input[type="submit"] {
        background: #F0C27B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .phone-call {
    width: 100px;
    height: 100px;
   margin: 10px;
   
  }
  
  .phone-call img {
    width: 100%;
    height: 100%;
  }
  
  .phone-call a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 20px;
    border-radius: 4px;
  }
   
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    background-color: #ccc;
    color: black;
    padding: 10px;
  }
  
  td {
    padding: 10px;
  }
  
  body{
    background-color: rgb(255, 255, 255);
  }

  